# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_VERSION=2026-05-15
SANITY_API_READ_TOKEN=your_viewer_token
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3000/studio

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BOOKING_EMAIL=mtmotley@ucdavis.edu
NEXT_PUBLIC_BOOKING_PHONE=530-304-6462
